* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei UI";
}

ul li {
    list-style: none !important;
    -webkit-padding-start: 0;
}
a{
    color: white;
    text-decoration: none
}
 .top  a{
     color: #66CCFF;
    text-decoration: none
}



html, body {
    width: 100%;

}

.top, .second, .banner, .pic, .foot, .last, .center ,.sing{
    width: 100%;
}

.top .topNav, .second .secondTop, .banner .bannerZC, .pic .picList, .pic #msge, .foot .footT, .last .lastT, .center .lc, .center .zr {
    margin: 0 auto;
    width: 1100px;;;
}

.top, .second, .banner, .pic, .foot, .last, .center, .sing {
    width: 100%;
}

.top .topNav, .second .secondTop, .banner .bannerZC, .pic .picList, .pic #msge, .foot .footT, .last .lastT, .center .lc, .center .zr {
    margin: 0 auto;
    width: 1100px;;;
}

.top .topNav {
    height: 40px;
}

.wx {
    position: relative;
    padding-left: 30px !important;
    background: url("../img/weixin.png") no-repeat;
}

.w {
    display: none;
    position: absolute;
    top: 40px;
    left: 40px;
    width: 200px;
    height: 200px;
    border: 1px solid red
}

.wx:hover .w {
    display: block;

}
.top{
    padding-top: 5px;
}
.topNav {
    height: 35px;

    font-size: 16px;

}

.topNav:after {
    content: " ";

}

.topNav ul {
    list-style: none;

    line-height: 40px;

}

.topNav .topNavLeft {
    float: left;
}

.topNav .topNavRight {
    float: right;
}

.topNav ul li {
    float: left;
    padding: 0 10px;
    line-height: 30px;
    height: 30px;;
}

.top .topNav .topNavLeft li:nth-child(1) {
    width: 185px;;
}

.top .topNav .topNavLeft li:nth-child(2) {
    width: 70px;;
}

.top .topNav .topNavRight li {
    border-right: 1px solid #eeeeee;
}

.top .topNav .topNavRight li:last-child {
    border: none;
}

.top .topNav .topNavRight .topNavPad {
    padding: 0;
}

.topNav ul li img {
    position: relative;
    top: 5px;;
}

.topNavPeople li:nth-child(1) {
    position: relative;
}

.topNavPeople li p {
    position: absolute;
    top: 2px;
    left: 50px;
    font-size: 10px;
}

.to {
    padding-left: 25px !important;
    background: url("../img/kftel.png") no-repeat;
}

.to1 {
    padding-left: 25px !important;
    background: url("../img/app.png") no-repeat;
}

.to2 {
    padding-right: 80px !important;

    background: url("../img/zcimg.png") no-repeat 44px;
}
.second {
    height: 90px;
    background: rgb(95, 205, 208);
}
.second .secondTop{
    overflow: hidden;
}
.second .secondTop div {
    display: inline-block;
}

.second .secondTop div:nth-child(1) {
    float: left;
    margin-top: 20px;
    width: 425px;;
    height: 100%;
}

.second .secondTop div:nth-child(2) {
    margin-top:50px;
    height: 30px;
    width: 655px;;
    text-align: right;
    color:white;
}

.second .secondTop div:nth-child(2) div {
    margin: 0;
    margin-left: 50px;
    width: 70px;
    cursor: pointer;
}
.banCard{
    width: 100%;

}
.banCard .banOuter{
    overflow: hidden;
    width:100%;
    margin:0 auto;;
}
.banCard .banOuter .banCard0 {
    float: left;
    display: none;
    width:100%;

}
.navColor{
    color: #FFE46C !important;
}
.navDis{
    display: block !important;
}

.banner {
    /*position: relative;*/
    height: 350px;;
    background: url("../img/afterNav.png");
}


.banner .bannerZC {
    position: relative;

}

.banner .bannerZC .bannerRz {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 26px;
    width: 340px;
    height: 385px;;;
    background: url("../img/rightBannr.png") no-repeat;

}

.banner .bannerZC .bannerRz .bannerRzLio {
    position: absolute;
    top: 176px;
    left: 35px;
    width: 272px;
    height: 190px;
}

.banner .bannerZC .bannerRz .bannerRzLio div {
    text-align: center;
}

.banner .bannerZC .bannerRz .bannerRzLio div:nth-child(1) {
    width: 100%;
    height: 30px;
    font-size: 20px;

}

.banner .bannerZC .bannerRz .bannerRzLio div:nth-child(2) {
    height: 35px;
    width: 210px;
    line-height: 35px;
    background: #F4B942;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 auto;
    color: #fff;
}


.banner .bannerZC .bannerRz .bannerRzLio div:nth-child(3) {
    position: relative;
    top: 21px;;
}

/*.banner .bannerZC .bannerRz div:nth-child(1) div:*/
.banner .bannerZC .bannerRz .bannerRzRio {
    position: absolute;
    top: 73%;
    padding: 0px 20px 0 0;
    width: 95%;
    height: 45px;
    line-height: 45px;
    text-align: right;
    color: white;
}
.pic{
    padding-bottom: 45px;
    overflow: hidden;
}
.pic .picList{

    overflow: hidden;}
.pic .picList .picListL .picListD {
    float: left;
    margin-left: 10px;
    width: 202px;
    height: 250px;
;;
}
.pic .picList .picListL .picListc{
    margin-left: 64px;
}

.pic .picList .picListL .picListD div {
    position: relative;
    left: 20px;
margin-bottom: 19px;
}
.pic .picList .picListD .picLista{
    height: 144px;
}
.pic .picList .picListD .picLista img{
    display: block;
    position: absolute;
    left: 30px;
}
.pic .picList .picListD .picLista p {
    text-align: center;
    position: absolute;
    top: 56px;
    left: 70px;
    font-size: 20px;
    color: white;
}
.pic .picList .picListD .picListf{
    font-size: 12px;
    height: 75px;
    top: -8px;
}
.pic .picList .picListe{
    font-size: 18px;
    top: 4px;
    height: 50px;
    line-height: 25px;
}
.pic .picList .picListe p {
    font-size: 16px;
    text-align: center;
    color: #999999
}
.pic .picList .picListL{
    float: left;
}
.pic .picList .picListL, .pic .picList .picListR {;
    display: inline-block;
}

.pic .picList .picListR {
    position: relative;
    top: 25px;
    left: 60px;;
    border-left: 1px dashed #cccccc;
}
.pic .picList .picListR .picListRT{
    overflow: hidden;
}
.pic .picList .picListR .picListRT .pic_left{
    float: left;
}
.pic .picList .picListR .picListRT .pic_left, .pic .picList .picListR .picListRT .pic_right {
    padding-left: 20px;
    display: inline-block;
}

.pic .picList .picListR .picListRF {
    margin-left: 20px;
    width: 253px;
    height: 30px;;;
    border-radius: 5px;
    background: #ffcc66;
    margin-top: 20px
}

.pic .picList .picListR .picListRF a {
    display: block;
    padding-top: 10px;
    height: 84%;
    line-height: 74%;
    text-align: center;
    text-decoration: none;
}
.pic .picList .picListR .picListRT .pic_right p{
    font-size: 20px;
}
.pic .picList .picListR .picListRT .pic_right  p:nth-child(1){
    margin-bottom: 5px;
}
.pic .picList .picListR .picListRT .pic_right .pic_foot{
    margin-top: 15px;
}
.pic .picList .picListR .picListRT .pic_right .pic_foot p:nth-child(1){
    background: url("../img/Ia.png") no-repeat;

}
.pic .picList .picListR .picListRT .pic_right .pic_foot p:nth-child(2){
    background: url("../img/Ia.png") no-repeat;
    background-position-y: -32px;
}
#msge {
    position: relative;

    width: 1100px;
    height: 80px;;
    background: url("../img/imsge.png") no-repeat;
}

#msge div {
    display: inline-block;
}

#msge div:nth-child(1) {
    position: absolute;
    top: 0;
    left: 56px;
    width: 80px;
    height: 100%;
    line-height: 40px;
}

#msge .mageUI {
    position: absolute;
    top: 0;
    left: 140px;;
}

#msge div .mageList {
    margin: 0;
    padding: 0;
    width: 840px;
    height: 40px;
    overflow: hidden;
    -webkit-padding-start: 0;
}

#msge div .mageList li {
    list-style: none;
    line-height: 40px;
}

#msge .mageMore {
    position: absolute;
    left: 981px;
    top: 0;;;
    width: 85px;
    line-height: 40px;
}

.foot {


    height: 313px;
    color: #cbcbcc;;
    background: url("../img/footBG.png") no-repeat;
}

.foot .footT {

    padding-top: 41px;;
}

.foot .footT .footTF, .foot .footT .footTR {
    display: inline-block;
}

.foot .footT .footTF {
    width: 105px;
    height: 225px;;;;
}

.foot .footT .footTF .footTFT {
    height: 105px;
}

.foot .footT .footTF .footTFF {
    height: 120px;
}

.foot .footT .footTR .footTRD1 {
    width: 1000px;
    height: 110px;
}

.foot .footT .footTR div:nth-child(1) ul {
    clear: both;
}

.foot .footT .footTR div ul li {
    list-style: none;
    float: left;
    padding: 0 13px;

    border-right: 1px solid #cbcbcc;
}

.foot .footT .footTR .footTRD1 ul li:last-child {
    border: none;
}

.foot .footT .footTR .footTRD1, .foot .footT .footTR .footTRD2 {

}

.foot .footT .footTR .footTRD2 .footTRD2T, .foot .footT .footTR .footTRD2 .footTRD2F {
    display: inline-block;
}

.foot .footT .footTR .footTRD2 .footTRD2T {
    width: 698px;
}

.foot .footT .footTR .footTRD2 .footTRD2F {
    width: 200px;
    text-align: right;
}

.foot div {
    font-size: 10px;
}

.foot .footT .footTR .footTRD2 .footTRD2T div {
    height: 30px;
    line-height: 30px;
}

.foot .footT .footTR .footTRD2 .footTRD2F .footTRD2Fu {
    width: 201px;;
}

.foot .footT .footTR .footTRD2 .footTRD2F .footTRD2Fu .footTRD2Fut, .foot .footT .footTR .footTRD2 .footTRD2F .footTRD2Fu .footTRD2Fuf {
    display: inline-block;
}

.foot .footT .footTR .footTRD2 .footTRD2F .footTRD2Fu .footTRD2Fut {
    position: relative;
    top: -14px;;
    width: 65px;;
}

.foot .footT .footTR .footTRD2 .footTRD2F .footTRD2Fu .footTRD2Fuf {
    width: 112px;;
}

.foot .footT .footTR .footTRD2 .footTRD2F .footTRD2F div {
    height: 40px;
}

.foot .footT .footTR .footTRD2 .footTRD2F .footTRD2F .footTRD2Fu div {
    height: 20px;

}

.foot .footT .footTR .footTRD2 .footTRD2F .footTRD2Fm {
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    font-weight: bold;

}

.foot .footT .footTR .footTRD2 .footTRD2F .footTRD2Fm a {
    color: #ffffff;
}

.foot .footT .footTR {
    width: 904px;;
}

.last {

    height: 480px;;
    background: url("../img/ease.png") no-repeat;
}

.last .lastT {
    position: relative;

    color: #ffffff;
    height: 100%;
    background: url("../img/easeto.png") no-repeat;
}

.last .lastT ul {
    position: absolute;
    width: 85px;
    height: 100px;
}

.last .lastT ul li {
    position: absolute;
    width: 158px;
    height: 180px;;
}

.last .lastT ul li:nth-child(1) {
    top: 93px;
    left: -27px;
}

.last .lastT ul li:nth-child(2) {
    top: 155px;
    left: 203px;
}

.last .lastT ul li:nth-child(3) {
    top: 15px;
    left: 404px;
}

.last .lastT ul li:nth-child(4) {
    top: 204px;
    left: 575px
}

.last .lastT ul li:nth-child(5) {
    top: 36px;
    left: 791px;
}

.last .lastT ul li:nth-child(1):hover {
    background: url("../img/red6-big.png") no-repeat;
}

.last .lastT ul li:nth-child(2):hover {
    background: url("../img/blue6-big.png") no-repeat;
}

.last .lastT ul li:nth-child(3):hover {
    background: url("../img/quen6-Big.png") no-repeat;
}

.last .lastT ul li:nth-child(4):hover {
    background: url("../img/pub6-big.png") no-repeat;
}

.last .lastT ul li:nth-child(5):hover {
    background: url("../img/orange6-5.png") no-repeat;
}

.last .lastT ul li:hover span {
    display: none;
}

.last .lastT ul li:hover p {
    display: block;
}

.last .lastT ul li:nth-child(5):hover p {
    top: 16px
}

.last .lastT ul li span {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 10;
}

.last .lastT ul li p {

    display: none;
    position: relative;

    top: 33px;
    line-height: 10px;
    margin: 16px;
    text-align: center
}

.center{
    background: #F9F9F9;
    padding-bottom: 60px;
}
.center .lcFD{
    background: white;
}.center .lc{
     margin-bottom: 40px
 }
.center .lc .lcT {
    height: 72px;
    line-height: 85px;
    font-size: 30px;
    color:#333333;
}

.center .lc .lcT span {
    font-size: 16px;
    color: #999999;
}

.center .lc .lcF {
    overflow: hidden;
}

.center .lc .lcF .lcFD {
    position: relative;
    margin-left: 20px;
    width: 260px;
    height: 385px;
    border-radius: 5px;
    float: left;
}
#marginNo{
    margin:0;
}
.center .lc .lcF .lcFD .lcFDT {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 15px;
    height: 55px;
    width: 100%;
    background: #6ed3d6;
}
.center .lc .lcF .lcFD .lcFDT p{
    text-align: center;
    color: #ffffff;
}
.center .lc .lcF .lcFD .lcFDT p:nth-child(1){
    font-size: 20px;
    line-height: 25px;
}
.center .lc .lcF .lcFD .lcFDT p:nth-child(2){
    line-height: 20px;
}
.center .lc .lcF .lcFDC {
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: 209px;
}

.center .lc .lcF .lcFDC .lcFDCO {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #cdf0f5;

}

.lc .lcF .lcFDC .lcFDCO .lcFDCI {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: #6ed3d6;
}

.lc .lcF .lcFDC .lcFDCO .lcFDOD {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden
}

.lc .lcF .lcFDC .lcFDCO .lcFDOD span {
    position: absolute;
    top: 0;
    left: 0;
    background: #cdf0f5;
    width: 100%;
    height: 100%;

}
.lc .lcF .lcFDC .lcFDCO .lcFDCI div{
    position: absolute;
    top: 64px;
    left: 5px;
    width: 100%;margin: 0 auto;height: 200px;
}
.lc .lcF .lcFDC .lcFDCO .lcFDCI div p{
    text-align: center;
    color: white
}
.lc .lcF .lcFDC .lcFDCO .lcFDCI div p:nth-child(1){
    font-size: 50px;
}
.center .lc .lcFD .lcFDF{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #f56478;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}
.center .lc .lcFD .lcFDF a{
    display: block;

    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.center .lc .lcF .lcFD .lcFDn{
    height: 40px;;
    overflow: hidden;
}

.center .lc .lcF .lcFD .lcFDn span{
    font-size: 29px;
}
.center .lc .lcF .lcFD .lcFDn span:nth-child(1){
    color: #f56478;
}
.center .lc .lcF .lcFD .lcFDn span:nth-child(2){
    color: #f5c25a;
}

.center .lc .lcF .lcFD .lcFDn span:nth-child(3){
    float: right;
    color: #6ed3d6;

}

.center .zr .lcT {
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    color:#333333;
}

.center .zr .lcT span {
    font-size: 16px;
    color: #999999;
}

.center .zr .lcF {
    overflow: hidden;
}

.center .zr .lcF .lcFD {
    position: relative;
    margin-left: 20px;
    width: 260px;
    height: 385px;
    border-radius: 5px;
    float: left;
}
.marginNo{
    margin-left:0 !important;
}
.center .zr .lcF .lcFD .lcFDT {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 15px;
    height: 55px;
    width: 100%;
    background: #6ed3d6;
}
.center .zr .lcF .lcFD .lcFDT p{
    text-align: center;
    color: #ffffff;
}
.center .zr .lcF .lcFD .lcFDT p:nth-child(1){
    font-size: 20px;
    line-height: 25px;
}
.center .zr .lcF .lcFD .lcFDT p:nth-child(2){
    line-height: 20px;
}
.center .zr .lcF .lcFDC {
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: 160px;
}

.center .zr .lcF .lcFDC .lcFDCO {
    position: relative;
    top: 15px;;
    margin: 0 auto;
    width: 225px;
    height: 62px;
    border: 1px solid #cdf0f5;
}

.zr .lcF .lcFDC .lcFDCO .lcFDCI {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 215px;
    height: 50px;
    background: #6ed3d6;
}

.zr.lcF .lcFDC .lcFDCO .lcFDOD {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden
}

.zr .lcF .lcFDC .lcFDCO .lcFDOD span {
    position: absolute;
    top: 0;
    left: 0;
    background: #cdf0f5;
    width: 100%;
    height: 100%;

}
.zr .lcF .lcFDC .lcFDCO .lcFDCI div{
    position: absolute;
    top: 0;
    left: 5px;
    width: 100%;margin: 0 auto;height: 200px;
}
.zr .lcF .lcFDC .lcFDCO .lcFDCI div p{
    text-align: center;
    color: white
}
.zr .lcF .lcFDC .lcFDCO .lcFDCI div p:nth-child(1){
    font-size: 19px;
    display: block;
    line-height: 50px;
}
.center .zr .lcFD .lcFDF{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #f56478;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}
.center .zr .lcFD .lcFDF a{
    display: block;

    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.center .zr .lcF .lcFD .lcFDn{
    height: 40px;;
    overflow: hidden;
}

.center  .zr .lcF .lcFD .lcFDn span{
    font-size: 29px;
}
.center  .zr .lcF .lcFD .lcFDn span:nth-child(1){
    color: #f56478;
}
.center  .zr .lcF .lcFD .lcFDn span:nth-child(2){
    color: #f5c25a;
}

.center .zr .lcF .lcFD .lcFDn span:nth-child(3){
    float: right;
    color: #6ed3d6;

}
/*注册界面*/
.sing {
    width: 100%;
    height: 546px;
    padding-top: 135px
}



.sing .singIn {
    margin:0 auto;
    position: relative;
    width: 1100px;
    height: 460px;

}

.sing .singIn .singInL {
    width: 100%;
    height: 100%;
}

.sing .singIn .singInR {
    position: absolute;
    left: 630px;
    top: 0;
    padding: 20px;
    width: 430px;
    height: 420px;
    background: #f9f9f9;;;
}

.sing .singIn .singInR div div {
    display: inline-block;
}

.sing .singIn .singInR div div span {
    color: #f7869c;
}

.sing .singIn .singInR div div input {
    margin-left: 20px;;
    height: 40px;
    border-radius: 5px;
}

.sing .singIn .singInR .singInR1 {
    /*margin-top: 20px;;*/
    line-height: 60px;
}

.sing .singIn .singInR .singInR1 .singInRL {
    width: 135px;
    text-align: right;
}

.sing .singIn .singInR .singInR1 .singInRR {
    height: 60px;
}

.sing .singIn .singInR .singInR1 .singInRR input {
    width: 250px;
    padding-left: 10px;
}

.sing .singIn .singInR .singInR1 .singInRR #sing3 {
    width: 150px;
}

.sing .singIn .singInR .singInR1 .trueImg {
    position: relative;
    top: 15px;;
    clear: both;
    width: 90px;
    height: 40px;;;
}

.sing .singIn .singInR .singInR1 .trueImg div {
    float: left;
    width: 90px;
    height: 40px;
}

.sing .singIn .singInR .singInR1 .trueImg div:nth-child(2) {
    /*position: absolute;*/
    /*top: 16px;;*/
    /*left: 0;*/
    text-align: center;
    line-height: 40px;
    display: none;
    background: rgba(0, 0, 0, .3);
}

.sing .singIn .singInR .singInR1 .trueImg:hover div:nth-child(1) {
    display: none;
}

.sing .singIn .singInR .singInR1 .trueImg:hover div:nth-child(2) {
    display: block;
}

.sing .singIn .singInR   .singInLast {
    margin: 0 auto;
    width: 292px;
    height: 42px
}

.sing .singIn .singInR   .singInLas {
    margin: 0 auto;
    width: 299px;
    font-size: 14px;
    margin-top: 28px;
    margin-bottom: 20px;

}

.sing .singIn .singInR   .singInLast a {
    display: block;
    width: 290px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #f4b942;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 100;
}

#sing5 {
    margin-bottom: 20px
}

#sing5 a {
    color: #66ccff
}

#worUesr,
#passW,
#passWT,
#trueI {
    position: absolute;
    left: 195px;
    width: 250px;
    height: 13px;
    color: red;
    font-size: 10px;;
}

#worUesr {
    top: 75px;;

}

#passW {
    top: 136px;;
}

#passWT {
    top: 196px;;
}

#trueI {
    top: 260px;;
}
/*背颜色*/

.bgNum {
    background: #f6ebed;
}

.bgGrey {
    background: #cccccc !important;
}

.bgOrange {
    background: #ff8542;
    color:white;
}

.bgPink {
    background: #f77f96;
}

.bgYellow {
    background: #f4b942;
}

.bgGreen {
    background: #6ed3d6;
}

.bglightGreen {
    background: #cdf0f5;
}
.bgccc{
    background: #CCCCCC;
}
.bgeee{
    background: #EEEEEE;
}
/*文字颜色*/
.redNum {
    color: #f56478;
}

.yellowNum {
    color: #f4b942;
}

.lightGreenNum {
    color: #6ed3d6;
}

.lightOrangeNum {
    color: #f5c25a;
}

.greenNum {
    color: #57d090;
}

.queNum {
    color: #7ddef7;
}





.buy, .moneyT {
    width: 100%;
}

.money, .money .moneyT {
    width: 100%;;
}

.money {
    background: #f9f9f9;

}

.money .moneyT {
    background: #ffffff;
}

.money .moneyTop, .money .moneyT .moneyOuter, .money .moneyCenter {
    width: 1100px;
    margin: 0 auto;;
}

.money .moneyCenter {
    color: #ffffff;
}
.money .moneyTop{
    height: 100px;
    line-height: 100px;
    font-size: 20px;
overflow: hidden;
}
.money .moneyTop div {
   float: left;
    width: 32.3%;
}

.money .moneyTop div span {
    font-size: 33px;
    font-weight: bold;
}

.money .moneyTop div:nth-child(1) {
    text-align: left;
}

.money .moneyTop div:nth-child(2) {
    text-align: center;
}

.money .moneyTop div:nth-child(3) {
    text-align: right;
}

.money .moneyT {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}

.money .moneyT .moneyOuter div {
    font-size: 14px;
    height: 45px;

}

.money .moneyT .moneyOuter .border {
    border-top: 1px dashed #d5d5d5;
    border-bottom: 1px dashed #d5d5d5;
}

.money .moneyT .moneyOuter div span {
    /*line-height:75px*/
}

.money .moneyT .moneyOuter div span, .money .moneyT .moneyOuter div ul {
    display: inline-block;
}

.money .moneyT .moneyOuter div ul li {
    display: inline-block;
    padding: 1px 15px;
    margin: 15px 13px;
    border-radius: 5px
}
.money .moneyCenter{
    padding: 25px 0;}
.money .moneyCenter div ul {
    width: 100%;
    overflow: hidden;
    margin: 25px 0;
    background:white;
}

.money .moneyCenter div ul Li {
    padding: 15px 0;
    height: 50px;
    float: left;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}

.money .moneyCenter div ul .mCLi1 {
    width: 195px;
    padding-left: 30px;
    text-align: left;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.money .moneyCenter div ul .mCLi2 {
    width: 108px;
    line-height: 25px;
    font-size: 20px;
}

.money .moneyCenter div ul .mCLi3 {
    width: 180px;
    line-height: 80px;
    font-size: 30px;
}

.money .moneyCenter div ul .mCLi3 span:nth-child(1) {
    font-size: 45px;
}

.money .moneyCenter div ul .mCLi4 {
    width: 112px;
    font-size: 25px;;
}
.money .moneyCenter div ul .mCLi4 p span{
    font-size: 45px
}

.money .moneyCenter div ul .mCLi5 {
    width: 190px;
    line-height: 88px;
    /*font-size: 14px;;*/
}

.money .moneyCenter div ul .mCLi6 {
    position: relative;
    top: 10px;
    width: 65px;
    height: 65px;;
    padding:0;
    margin: 0 15px;
    border-radius: 50%;
    overflow: hidden;
}

.money .moneyCenter div ul .mCLi6 span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 65px;
    height: 65px;;
}

.money .moneyCenter div ul .mCLi6 span:nth-child(2) {
    height:50%;
}
.money .moneyCenter div ul .mCLi6 span:nth-child(3){
    font-size: 23px;
    line-height: 65px;

}
.money .moneyCenter div ul .mCLi7 {
    width: 170px;
    margin-left: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}

.money .moneyList{
    margin:0 auto;
    width: 1100px;
    height:30px;
    line-height: 30px;
    text-align: center;;
}
.money .moneyList .moneyPage{
    width: 510px;
    margin:0 auto;;
}
.money .moneyList .moneyPage div{
    display: inline-block;
    border-radius: 3px;
}

.money .moneyList .moneyPage .moneyPageL,.money .moneyList .moneyPage .moneyPageR{
    position: relative;
    top: -10px;;
    width: 75px;
}
.money .moneyList .moneyPage ul{

    display: inline-block;
    overflow: hidden;
    border:1px solid #d5d5d5;
    border-right: none;
    height: 30px;;
    background: white;
}

.money .moneyList .moneyPage ul li{
    float: left;
    width: 31px;
    border-right:1px solid #d5d5d5;;
}

.bgNum {
    background: #f6ebed;
}



.bgOrange {
    background: #ff8542;
    color:white;
}

.bgPink {
    background: #f77f96;
}

.bgYellow {
    background: #f4b942;
}

.bgGreen {
    background: #6ed3d6;
}

.bglightGreen {
    background: #cdf0f5;
}

/*文字颜色*/
.redNum {
    color: #f56478;
}

.yellowNum {
    color: #f4b942;
}

.lightGreenNum {
    color: #6ed3d6;
}

.lightOrangeNum {
    color: #f5c25a;
}

.greenNum {
    color: #57d090;
}

.queNum {
    color: #7ddef7;
}




.moneyT {
    width: 100%;
}

.moneyT {
    width: 100%;;
}

.money {
    background: #f9f9f9;
}

.moneyT {
    background: #ffffff;
}

.moneyTop,  .moneyT .moneyOuter,  .moneyCenter,.sellMoney .sellTop {
    width: 1100px;
    margin: 0 auto;;
}

.moneyCenter {
    color: #ffffff;
}
.moneyTop,.sellMoney{
    height: 100px;
    line-height: 100px;
    font-size: 20px;;
}
.moneyTop div ,.sellMoney .sellTop div{
    display: inline-block;
    width: 32.3%;
}

.moneyTop div span ,.sellMoney .sellTop div span{
    font-size: 33px;
    font-weight: bold;
}

.moneyTop div:nth-child(1),.sellMoney .sellTop div:nth-child(1){
    text-align: left;
}

.moneyTop div:nth-child(2) ,.sellMoney .sellTop div:nth-child(2){
    text-align: center;
}

.moneyTop div:nth-child(3) ,.sellMoney .sellTop div:nth-child(3){
    text-align: right;
}

.moneyT {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}

.moneyT .moneyOuter div {
    font-size: 14px;
    height: 45px;

}

.moneyT .moneyOuter .border {
    border-top: 1px dashed #d5d5d5;
    border-bottom: 1px dashed #d5d5d5;
}

.money .moneyT .moneyOuter div span {
    /*line-height:75px*/
}

.moneyT .moneyOuter div span,  .moneyT .moneyOuter div ul {
    display: inline-block;
}

.moneyT .moneyOuter div ul li {
    display: inline-block;
    padding: 1px 15px;
    margin: 15px 13px;
    border-radius: 5px
}
.moneyCenter{
    padding: 25px 0;}
.moneyCenter div ul {
    width: 100%;
    overflow: hidden;
    margin: 25px 0;
    background:white;
}

.moneyCenter div ul Li {
    padding: 15px 0;
    height: 50px;
    float: left;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}

.moneyCenter div ul .mCLi1 {
    width: 195px;
    padding-left: 30px;
    text-align: left;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.moneyCenter div ul .mCLi2 {
    width: 108px;
    line-height: 25px;
    font-size: 20px;
}

.moneyCenter div ul .mCLi3 {
    width: 180px;
    line-height: 50px;
    font-size: 30px;
}

.moneyCenter div ul .mCLi3 span:nth-child(1) {
    font-size: 45px;
}

.moneyCenter div ul .mCLi4 {
    width: 112px;
    font-size: 25px;;
}
.moneyCenter div ul .mCLi4 p span{
    font-size: 45px
}

.moneyCenter div ul .mCLi5 {
    width: 190px;

}

.moneyCenter div ul .mCLi6 {
    position: relative;
    top: 10px;
    width: 65px;
    height: 65px;;
    padding:0;
    margin: 0 15px;
    border-radius: 50%;
    overflow: hidden;
}

.moneyCenter div ul .mCLi6 span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 65px;
    height: 65px;;
}

.moneyCenter div ul .mCLi6 span:nth-child(2) {
    height:50%;
}
.moneyCenter div ul .mCLi6 span:nth-child(3){
    font-size: 31px;
    line-height: 65px;

}
.moneyCenter div ul .mCLi7 {
    width: 170px;
    margin-left: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}

.moneyList{
    margin:0 auto;
    width: 1100px;
    height:30px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 64px;;
}
.moneyList .moneyPage{
    width: 510px;
    margin:0 auto;;
}
.moneyList .moneyPage div{
    display: inline-block;
    border-radius: 3px;
}

.moneyList .moneyPage .moneyPageL,.moneyList .moneyPage .moneyPageR{
    position: relative;
    top: -10px;;
    width: 75px;
}
.moneyList .moneyPage ul{

    display: inline-block;
    overflow: hidden;
    border:1px solid #d5d5d5;
    border-right: none;
    height: 30px;;
    background: white;
}

.moneyList .moneyPage ul li{
    float: left;
    width: 31px;
    border-right:1px solid #d5d5d5;;
}
.mCLi3{
    padding: 0 !important;
    height: 82px;
}
.mCLi3 div:nth-child(2){
    position: relative;
    top: -20px;
    color:#999999;
    font-size: 14px;
}
.mCLi3 div:nth-child(2){

}
.mCLi5{
    padding:0 !important;
}
.mCLi5 div:nth-child(1){
    font-size: 45px;
}
.mCLi5 div:nth-child(2){
    position: relative;
    top: -15px;
    font-size: 14px;
}
#sell .sellCenter   .mCLi6 .lcFDCO {
    position: relative;
    width: 210px;
    height: 35px;
    padding: 5px;
    border: 2px solid #CDF0F5;}
#sell  .sellCenter  .mCLi6 .lcFDCO div{
    width: 210px;
    position: absolute;
}
#sell  .sellCenter .mCLi6{
    position: relative;
    top: 10px;
    width: 234px;
    height: 65px;
    padding: 0;
    margin: 0 15px 0 0;
    overflow: hidden;
    border-radius: 0;
}
#sell  .sellCenter .mCLi6 .lcFDCI{
    height: 35px;
    background: #CDF0F5;
}
#sell .sellCenter .mCLi6 .lcFDCO div {
    width: 210px;
    position: absolute;}
#sell .sellCenter .mCLi6 .lcFDCO .lcFDCI{
    width: 210px;
    position: absolute;
}
#sell .sellCenter  .mCLi6 .lcFDCO .lcFDCI div div {
    width: 57%;
    height: 35px;
    background: #6ED3D6;
}
#sell .sellCenter  .mCLi6 .lcFDCO .lcFDCI div p{
    position: absolute;
    width: 210px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
}
#sell .sellCenter  .mCLi2{
    width: 108px;
}
#sell .sellCenter  .mCLi3{
    width: 165px;
}
#sell .sellCenter .mCLi5{
    width: 157px;
}
#sell{
    background: #F9F9F9;
}

.posrel{
    position: relative !important;

    top: 20px;;
}
.lcFDQ{
    height:80px ;
    overflow: hidden;
    font-size: 16px;
}
.lcFDQ .lcFDCQT{
    float: left;
    margin-left: 15px;
}
.lcFDQ .lcFDQF{
    float: right;
    margin-right: 15px;
}
.lcFDQ .lcFDCQT span, .lcFDQ .lcFDQF span{
    font-size: 35px; ;
}
.lcFDQ .lcFDCQT div:nth-child(1){
    color: #f56478;
}
.lcFDQ .lcFDQF div:nth-child(1){
    color: #6ed3d6;
}
input{
    outline: none!important;
}

/*登录图表*/
#sing5 span{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 21px;
    height: 21px;
    top: 8px;
    border: 1px solid #CCC;
    border-radius: 50%;
    margin-right: 5px;
}
.singIn  #sing5 span img{
    display: none;
}




.bank_meg {
    margin-top: 25px;
    width: 875px;
    height: 185px;
}

.bank_meg .bank_msg {
    height: 35px;
    line-height: 35px;
    text-align: left;
}

.bank_meg .bank_list {
    overflow: hidden;
    border: 1px solid #f5c259;
    border-radius: 5px;
}

.bank_list ul {
    float: left;
    height: 122px;
    border-left: 1px solid #CCCCCC;
}

.bank_list ul li {
    list-style: none;
    width: 176px;
    height: 39px;
    line-height: 38px;
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
}

.bank_list ul li:nth-child(1) {
    background: rgb(238, 238, 238);
}

.bank_list ul li:last-child {
    border-bottom: none;
}

.bank_list .bank_last li:nth-child(1) {
    width: 342px;
    border-top-right-radius: 5px;
}

.bank_list .bank_last li:nth-child(2) {
    padding: 0 18px;
    padding-top: 5px;
    width: 306px;
    height: 79px;
    line-height: 22px;
    font-size: 16px;
    text-align: left;
}

.bank_list .bank_first {
    border-left: none;
}

.bank_first li:nth-child(1) {
    border-top-left-radius: 5px;
}
/*转让结束*/
.absYesBuy{
    position: relative;
    padding-top: 70px;
    width: 279px;
    height: 180px;
    font-size: 17px;;
}
.absYesBuy div{
    text-align: left;

}
.absYesBuy div span{
    font-size: 25px;
}
.absYesBuy div:nth-child(1) span{
    color: #6ed3d6;
}
/*转让选项卡*/
.posMoneyFoot{
    position: relative;
    margin:0 auto;
    width: 1100px;
    height: 700px;;
}
.posMoneyFoot .posMoneyFootTop{
    position: absolute;
    top:0;
    width: 100%;
    height: 35px;
;
}
.posMoneyFoot .posMoneyFootTop div{
    position: absolute;
    left: 64px;
    width: 146px;
    height:100%;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background: #ffbdce;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom:2px solid  #f77f96 ;
}
.posMoneyFoot .posMoneyFootTop div:nth-child(2){
    left: 220px;;
}
.posMoneyFoot .posMoneyFootTop div.posMoneyFootTopBg{
    background: #f77f96;
}
.posMoneyFoot .posMoneyFootA{
    position:absolute;
    top: 35px;;
    width:1035px;
    padding:0 0 0 65px;
    height: 640px;
    border-top: 2px solid  #f77f96;
}

.posMoneyFoot .posMoneyFootA .posMoneyJJ div div:nth-child(1){
    height: 45px;
    font-size: 20px;
    line-height: 45px;
}
.posMoneyFoot .posMoneyFootA .posMoneyJJ div div:nth-child(2) ul{
    overflow: hidden;
}
.posMoneyFoot .posMoneyFootA .posMoneyJJ div div:nth-child(2) ul li{
    overflow: hidden;
    float: left;
    width: 345px;
    color: #999999;
}
.posMoneyFoot .posMoneyFootA .posMoneyJJ div div:nth-child(2) ul li span{
    cursor: pointer;
    display: block;
    float: left;
}
.posMoneyFoot .posMoneyFootA .posMoneyJJ div div:nth-child(2) ul li span:nth-child(1){
    width: 23px;
    height: 23px;;
    background: url("../img/posYellowT.png") no-repeat;
    background-position-y: 3px;
}
.posMoneyFoot .posMoneyFootA .posMoneyJJ div div:nth-child(2) ul li span:nth-child(2){

    color: #66CCFF;
    border-bottom: 1px solid #66CCFF;
}

.posMoneyFoot .posMoneyFootA .posMoneyJJ div div p{
    width: 865px;
    line-height: 25px;
}
.posMoneyFoot .posMoneyFootA .posMoneyTT{
    position: absolute;
    height:100%;
    left: 0px;
    text-align: center;
}

.posMoneyFoot .posMoneyFootA .posMoneyTT .posMoneyTouZi{
    padding:0 64px;
    background: #fff0f4;
    height:50px;
    line-height: 50px;
}
.posMoneyFoot .posMoneyFootA .posMoneyTT .posMoneyTouZi div{
    width: 972px;;
}
.posMoneyFoot .posMoneyFootA .posMoneyTT  .posMoneyTouZiA{
    padding:0 66px;
    height:50px;
    line-height: 50px;

}

.posMoneyFoot .posMoneyFootA .posMoneyTT  div ul{
    overflow: hidden;
    border-bottom: 1px solid #eeeeee;
}
.posMoneyFoot .posMoneyFootA .posMoneyTT  div ul li{
    float: left;
    width: 322px;;
}

.posMoneyFoot .posMoneyFootA .posMoneyTT .posMoneyTouZi div ul li:nth-child(2){
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
.absMoney .absMoneyTop{
    margin:0 auto;
    width: 1100px;;
}

.posMoneyTopT {padding:0 40px;
    height: 49px;
    line-height: 45px;
    overflow: hidden;
}
.posMoneyTopT div:nth-child(1) {
    font-size: 23px;
    float: left;
}
.posMoneyTopT div:nth-child(2) {
    font-size: 14px;
    line-height: 70px;
    float: right;
    color: #f77f96
}
.absMoneyTopF{
    margin-bottom: 40px;
    padding: 18px 0 15px 40px;
    border-top: 1px solid #CCCCCC;
    width: 1060px;
    overflow: hidden;
}
.absMoneyTopF .absMoneyFootLeft,.absMoneyTopF .absMoneyFootRight{
    float: left;
    height: 220px;;
}
.absMoneyTopF .absMoneyFootLeft{
    width:725px;
    border-right: 1px solid #EEEEEE;
}
.absMoney .absTop{
    overflow: hidden;
}
.absMoney .absTop .absTopA{
    float: left;

}
.absMoney .absTop .absTopA .absTopB{
    height: 70px;
    color:#666666;    font-size: 10px;    line-height: 40px;
}
.absMoney .absTop .absTopA .absTopC{
    height:76px;
    font-size: 22px;
}

.absMoney .absTop .absTopD{
    width: 185px; color: #f77f96;;
}

.absMoney .absTop .absTopE{
    width: 165px;color: #f5c25a;;
}

.absMoney .absTop .absTopF{
    width: 115px;
    color: #6ed3d6;
}

.absMoney .absTop .absTopG{
    width: 260px;;
}
.absMoney .absTop .absTopD span,.absMoney .absTop .absTopE span,.absMoney .absTop .absTopF span{
    font-size: 34px;
}
.absMoney .absTop .absTopG div{
    height:40px;
    line-height: 40px;
    font-size: 14px;
    color: #666666;
}.absMoneyFootRight{
     margin-left: 55px;;
 }
.absMoneyFootRight{
    font-size: 14px;
}

.absFoot{
    height: 60px;
;
}
.absFoot .absFootA{
    overflow: hidden;
    height: 30px;
    line-height: 30px;

}
.absFoot .absFootA div{
    float: left;
}
.absFoot .absFootA div:nth-child(1){
    width: 70px;;
}
.absMoneyFootRight .absFootB{
    height: 39px;
    overflow: hidden;
}
.absMoneyFootRight .absFootC{
    float: left;overflow: hidden;
    width: 120px;
    line-height: 40px;
    background: #6ed3d6;
    color: white;
    text-align: center;
}
.absMoneyFootRight .absFootC div{
    float: left;
    height: 40px;;
}
.absMoneyFootRight .absFootC div:nth-child(1),.absMoneyFootRight .absFootC div:nth-child(3){
    font-size: 20px;
    width: 20px;
    cursor: pointer;
}
.absMoneyFootRight .absFootC input{

    height:33px;
    width:75px;
}
.absMoneyFootRight .absFootD{
    height:53px;
    line-height: 35px;

}

.absMoneyFootRight .absFootE{
    text-align: center;
    width: 220px;
    height:35px;
    line-height: 35px;
    color: white;
    border-radius: 5px;
    background:#f77f96 ;
}
.absMoneyFootRight .absFootA div span:nth-child(1),.absMoneyFootRight .absNoBay div span:nth-child(1){
    font-size: 22px;
}
.absMoneyFootRight .absNoBay{
    margin-top: 35px;
}
.absMoneyFootRight .absNoBay div{
    height: 30px;
    line-height: 30px;
}
.absMoneyFootRight .absNoBay .absNoA{
    margin-top: 25px;
    width: 220px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background:#f5c25a ;
    border-radius: 5px;
    color:white;
}
.absMoneyFootLeft .absTopH{
    padding-top: 26px;

    overflow: hidden;
    width: 675px;
    height: 45px;
    border-top: 1px dashed#EEEEEE;
}
.absMoneyFootLeft .absTopH div{
    float: left;
}
.absMoneyFootLeft .absTopH .absTopHa{
    float: right;
}
.absMoneyFootLeft .absTopH div p{
    color: #000;
}
.absMoneyFootLeft .absTopH div p span{
    color:#666666;
}
.absMoneyFootLeft .absTopH .absTopHa span{
    display:inline-block;
    border-radius: 3px;
    width: 28px;
    height: 20px;
    text-align: center;;
    color:white;
    background: #6ed3d6;
}
.posMoney {
    width: 1100px;
    margin: 0 auto;;
}

.posMoneyTopT {
    height: 49px;
    line-height: 45px;
    overflow: hidden;
}

.posMoney .posMoneyTop .posMoneyTopT div:nth-child(1) {
    font-size: 23px;
    float: left;
}

.posMoney .posMoneyTopF {
    padding: 0 40px;
    padding-top: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}

.posMoney .posMoneyTopF .posMoneyTopL {
    float: left;
    /*overflow: hidden;*/
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA {
    overflow: hidden;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA1,
.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA2,
.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA3,
.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA4 {
    float: left;
    height: 170px;;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA1 {
    width: 180px;;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA2 {
    width: 130px;;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA3 {
    width: 255px;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA4 {
    width: 105px;;;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA1 div:nth-child(1),
.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA2 div:nth-child(1) {
    height: 85px;
    line-height: 85px;
    font-size: 14px;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA1 div:nth-child(2),
.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA2 div:nth-child(2) {
    height: 55px;
    font-size: 30px;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA3 div {
    font-size: 16px;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA3 div:nth-child(1) {
    height: 85px;
    line-height: 85px;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA3 div:nth-child(2) {
    height: 35px;
    line-height: 35px;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA4 .posMoneyTopA4m {
    position: relative;
    top: 35px;
    overflow: hidden;
    border-radius: 50%;
    width: 101px;
    height: 101px;;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA4 . div {

}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA4 .posMoneyTopA4m div:nth-child(1) {
    position: absolute;
    width: 101px;
    height: 101px;
    background: #CDF0F5;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA4 .posMoneyTopA4m div:nth-child(2) {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 88px;
    height: 88px;;;
    background: #6ed3d6;
    border-radius: 50%;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA4 .posMoneyTopA4m div:nth-child(3) {
    position: absolute;
    line-height: 101px;
    font-size: 20px;
    color: #ffe98d;
    text-align: center;
    width: 101px;
    height: 101px;
}

.posMoney .posMoneyTopF .posMoneyTopA {
    overflow: hidden;
}

.posMoney .posMoneyTopF .posMoneyTopB {
    width: 675px;
    border-top: 1px dashed #CCCCCC;
}

.posMoney .posMoneyTopF .posMoneyTopB .posMoneyTopLB, .posMoney .posMoneyTopF .posMoneyTopB .posMoneyTopLC {
    float: left;
    font-size: 16px;
    line-height: 55px;
}

.posMoney .posMoneyTopF .posMoneyTopB .posMoneyTopLC {
    float: right;
}

.posMoney .posMoneyTopF .posMoneyTopR {
    float: left;
    margin-left: 50px;
}

.posMoney .posMoneyTopF .posMoneyTopR .posMoneyTopRA {

    padding: 0 0 0 68px;
    width: 225px;
    height: 215px;
    border-left: 1px solid #EEEEEE;
}

.posMoney .posMoneyTopF .posMoneyTopR .posMoneyTopRA div:nth-child(2) {
    line-height: 35px;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA1 div:nth-child(2) span {
    color: #f5c25a;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA1 div:nth-child(2) span:nth-child(1),
.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA1 div:nth-child(2) span:nth-child(2) {
    color: #f77f96;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA2 div:nth-child(2) span {
    color: #6ed3d6;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA2 div:nth-child(2) span:nth-child(2) {
    font-size: 16px;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopA .posMoneyTopA3 div span {
    color: #f77f96;
}

.posMoney .posMoneyTop .posMoneyTopT {
    padding: 0px 40px;
    border-bottom: 1px dashed #CCCCCC;
}

.posMoney .posMoneyTop .posMoneyTopT div:nth-child(2) {
    float: right;
    color: #f77f96;
}

.posMoney .posMoneyTopF .posMoneyTopL .posMoneyTopB p span {
    color: #999999;
}
/*分页列表*/
#moneyList{
    position: absolute;
    bottom: 0px;
    padding-bottom: 15px;
}
#moneyList .moneyPage{
    width: 510px;
    margin:0 auto;;
}
#moneyList .moneyPage div{
    display: inline-block;
    border-radius: 3px;
}

#moneyList .moneyPage .moneyPageL,.moneyList .moneyPage .moneyPageR{
    position: relative;
    top: -10px;;
    width: 75px;
}
#moneyList .moneyPage ul{

    display: inline-block;
    overflow: hidden;
    border:1px solid #d5d5d5;
    border-right: none;
    height: 30px;;
    background: white;
}

#moneyList .moneyPage ul li{
    float: left;
    width: 31px;
    border-right:1px solid #d5d5d5;;
}
/*密码*/

/*重置密码*/
.password {
    position: relative;
    margin: 30px auto;

    width: 1100px;
    height: 530px;;;
}

.password .passwordTop {
    height: 95px;
    font-size: 25px;
    line-height: 95px;
    color: #6ed3d6;
}

.password .passwordTop span {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 5px;
    height: 24px;
    background: #f4b942;
}

.password .passwordFoot {

    margin-top: 70px;
}

.password .passwordFoot span {
    color: #F77F96;
}

.password .passwordFoot .passwordFootA {
    margin:0 auto;
    width: 416px;
    height: 40px;
    margin-bottom: 20px;;
}

.password .passwordFoot .passwordFootA:after {
    content: '';
}

.password .passwordFoot .passwordFootA div {
    float: left;
}

.password .passwordFoot .passwordFootA div input {
    height: 40px;
    outline: none;
    border: none;
}

input:focus {
    outline: none;
    border: none;
}

.password .passwordFoot .passwordFootA .passwordFootB {
    float: left;
    width: 120px;
    height: 42px;
    margin-right: 20px;
    line-height: 42px;
    text-align: right;
}

.password .passwordFoot .passwordFootA .passwordFootC {
    float: left;

    height: 44px;;
}

.password .passwordFoot .passwordFootA .passwordFootD {
    padding-left: 10px;
    width: 252px;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.password .passwordFoot .passwordFootA .passwordFootD input {
    height: 40px;
    width: 240px;;;
}

.password .passwordFoot .passwordFootA .passwordFootE {
    margin-right: 10px;
    padding-left: 10px;
    width: 152px;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.password .passwordFoot .passwordFootA .passwordFootE input {
    height: 40px;
    width: 140px;;;
}

.password .passwordFoot .passwordFootA .passwordFootF {
    position: relative;
    width: 92px;
    height: 42px;
    overflow: hidden;;
}

.password .passwordFoot .passwordFootA .passwordFootF div {
    width: 90px;
    height: 40px;;;
}

.password .passwordFoot .passwordFootA .passwordFootF div:nth-child(2) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    text-align: center;
    background: rgba(0, 0, 0, .3);
}

.password .passwordFoot .passwordFootA .passwordFootF:hover div:nth-child(2) {
    display: block;
}

.password .passwordFootDown {
    margin: 0 auto;
    margin-top: 80px;
    width: 290px;
    height: 40px;
    line-height: 40px;
    background: #f4b942;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;;
}

.password #worUesr,
.password #trueI {
    position: absolute;
    width: 260px;;
    height: 18px;
    font-size: 14px;
    color: red;
    line-height: 18px;
}

.password #worUesr {

    top: 267px;
    left: 490px;
}

.password #trueI {

    top: 330px;
    left: 490px;
}
#worUesrA{
    top: 207px;
    left: 490px;;;
}
#trueIA{
    top: 265px;
    left: 490px;;;
}
.posMoneyTopR .posMoneyTopRA .absFootB{
    width: 220px;
    height: 35px;;;
    background: #6ed3d6;
}
.posMoneyTopRA .absFootC{
    clear: both;
}
.posMoneyTopRA .absFootC div {
    float: left;
    width: 20px;
    height:35px ;
    text-align: center;
    line-height: 35px;
    color: #ffffff;;;
}
.posMoneyTopRA .absFootC div:nth-child(2){
    width: 180px;
}
.posMoneyTopRA .absFootC div:nth-child(2) input{
    width: 160px;
    height: 33px;;
    padding-left: 20px;
    border:none;;;
}
.posMoneyTopRA .absFootD{
    margin:10px 0 15px 0;
}
.posMoneyTopRA .absFootE{
    width:220px;
    height: 35px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height:35px;
    border-radius: 5px;
    background: #f77f96;
}


.posMoneyTopRA div img{
    margin-top: 15px;;
}










