* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei UI";
}

ul li {
    list-style: none !important;
    -webkit-padding-start: 0;
}
a{
    color: white;
    text-decoration: none
}
 .top  a{
     color: #66CCFF;
    text-decoration: none
}



html, body {
    width: 100%;

}

.top, .second, .banner, .pic, .foot, .last, .center ,.sing{
    width: 100%;
}

.top .topNav, .second .secondTop, .banner .bannerZC, .pic .picList, .pic #msge, .foot .footT, .last .lastT, .center .lc, .center .zr {
    margin: 0 auto;
    width: 1100px;;;
}

.top .topNav {
    height: 40px;
}

.top .topNav ul {
    line-height: 40px;
    /*overflow: hidden;*/
    width: 100%;

}

.top .topNav ul li {
    display: inline-block;

}

.top .topNav ul li:nth-child(1) {
    width: 210px;
}

.top .topNav ul li:nth-child(2) {
    width: 520px;
}

.top .topNav ul li:nth-child(3) {
    width: 90px;
}

.top .topNav ul li:nth-child(4) {
    width: 120px;
}

.top .topNav ul li:nth-child(5) {
    width: 50px;
}

.top .topNav ul li:nth-child(6) {
    width: 65px;
}

.top .topNav ul li span {
    width: 20px;
}

.top .topNav ul li span img {
    position: relative;
    top: 5px;;

}
.wx{
    position: relative
}
.w{
    display: none;
    position:absolute;
    top: 40px;
    left: 40px;
    width: 160px ;
    height: 160px;
    border: 1px solid #EEEEEE;
}
.wx:hover .w{
    display: block;

}
.top .topNav ul li:nth-child(4) span {
    position: relative;
}

.top .topNav ul li:nth-child(4) span p {
    position: absolute;
    top: -7px;;
    left: 6px;;
    font-size: 10px;
}

.second {
    height: 90px;
    background: rgb(95, 205, 208);
}
.second .secondTop{
    overflow: hidden;
}
.second .secondTop div {
    display: inline-block;
}

.second .secondTop div:nth-child(1) {
    float: left;
    margin-top: 20px;
    width: 425px;;
    height: 100%;
}

.second .secondTop div:nth-child(2) {
    margin-top:50px;
    height: 30px;
    width: 655px;;
    text-align: right;
    color:white;
}

.second .secondTop div:nth-child(2) div {
    margin: 0;
    margin-left: 50px;
    width: 70px
}

.banner {
    /*position: relative;*/
    height: 350px;;
    background: url("../img/afterNav.png");
}


.banner .bannerZC {
    position: relative;

}

.banner .bannerZC .bannerRz {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 26px;
    width: 340px;
    height: 385px;;;
    background: url("../img/rightBannr.png") no-repeat;

}

.banner .bannerZC .bannerRz .bannerRzLio {
    position: absolute;
    top: 176px;
    left: 35px;
    width: 272px;
    height: 190px;
}

.banner .bannerZC .bannerRz .bannerRzLio div {
    text-align: center;
}

.banner .bannerZC .bannerRz .bannerRzLio div:nth-child(1) {
    width: 100%;
    height: 30px;
    font-size: 20px;

}

.banner .bannerZC .bannerRz .bannerRzLio div:nth-child(2) {
    height: 35px;
    width: 210px;
    line-height: 35px;
    background: #F4B942;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 auto;
    color: #fff;
}


.banner .bannerZC .bannerRz .bannerRzLio div:nth-child(3) {
    position: relative;
    top: 21px;;
}

/*.banner .bannerZC .bannerRz div:nth-child(1) div:*/
.banner .bannerZC .bannerRz .bannerRzRio {
    position: absolute;
    top: 73%;
    padding: 0px 20px 0 0;
    width: 95%;
    height: 45px;
    line-height: 45px;
    text-align: right;
    color: white;
}
.pic{
    padding-bottom: 45px;
    overflow: hidden;
}
.pic .picList{

    overflow: hidden;}
.pic .picList .picListL .picListD {
    float: left;
    margin-left: 10px;
    width: 202px;
    height: 250px;
;;
}
.pic .picList .picListL .picListc{
    margin-left: 64px;
}

.pic .picList .picListL .picListD div {
    position: relative;
    left: 20px;
margin-bottom: 19px;
}
.pic .picList .picListD .picLista{
    height: 144px;
}
.pic .picList .picListD .picLista img{
    display: block;
    position: absolute;
    left: 30px;
}
.pic .picList .picListD .picLista p {
    text-align: center;
    position: absolute;
    top: 56px;
    left: 82px;
    font-size: 10px;
}
.pic .picList .picListD .picListf{
    font-size: 12px;
    height: 75px;
    top: -8px;
}
.pic .picList .picListe{
    font-size: 18px;
    top: 4px;
    height: 50px;
    line-height: 25px;
}
.pic .picList .picListe p {
    font-size: 16px;
    text-align: center;
    color: #999999
}
.pic .picList .picListL{
    float: left;
}
.pic .picList .picListL, .pic .picList .picListR {;
    display: inline-block;
}

.pic .picList .picListR {
    position: relative;
    top: 25px;
    left: 60px;;
    border-left: 1px dashed #cccccc;
}
.pic .picList .picListR .picListRT{
    overflow: hidden;
}
.pic .picList .picListR .picListRT .pic_left{
    float: left;
}
.pic .picList .picListR .picListRT .pic_left, .pic .picList .picListR .picListRT .pic_right {
    padding-left: 20px;
    display: inline-block;
}

.pic .picList .picListR .picListRF {
    margin-left: 20px;
    width: 253px;
    height: 30px;;;
    border-radius: 5px;
    background: #ffcc66;
    margin-top: 20px
}

.pic .picList .picListR .picListRF a {
    display: block;
    padding-top: 10px;
    height: 84%;
    line-height: 74%;
    text-align: center;
    text-decoration: none;
}
.pic .picList .picListR .picListRT .pic_right p{
    font-size: 20px;
}
.pic .picList .picListR .picListRT .pic_right  p:nth-child(1){
    margin-bottom: 5px;
}
.pic .picList .picListR .picListRT .pic_right .pic_foot{
    margin-top: 15px;
}
.pic .picList .picListR .picListRT .pic_right .pic_foot p:nth-child(1){
    background: url("../img/Ia.png") no-repeat;

}
.pic .picList .picListR .picListRT .pic_right .pic_foot p:nth-child(2){
    background: url("../img/Ia.png") no-repeat;
    background-position-y: -32px;
}
#msge {
    position: relative;

    width: 1100px;
    height: 80px;;
    background: url("../img/imsge.png") no-repeat;
}

#msge div {
    display: inline-block;
}

#msge div:nth-child(1) {
    position: absolute;
    top: 0;
    left: 56px;
    width: 80px;
    height: 100%;
    line-height: 40px;
}

#msge .mageUI {
    position: absolute;
    top: 0;
    left: 140px;;
}

#msge div .mageList {
    margin: 0;
    padding: 0;
    width: 840px;
    height: 40px;
    overflow: hidden;
    -webkit-padding-start: 0;
}

#msge div .mageList li {
    list-style: none;
    line-height: 40px;
}

#msge .mageMore {
    position: absolute;
    left: 981px;
    top: 0;;;
    width: 85px;
    line-height: 40px;
}

.foot {


    height: 313px;
    color: #cbcbcc;;
    background: url("../img/footBG.png") no-repeat;
}

.foot .footT {

    padding-top: 41px;;
}

.foot .footT .footTF, .foot .footT .footTR {
    display: inline-block;
}

.foot .footT .footTF {
    width: 105px;
    height: 225px;;;;
}

.foot .footT .footTF .footTFT {
    height: 105px;
}

.foot .footT .footTF .footTFF {
    height: 120px;
}

.foot .footT .footTR .footTRD1 {
    width: 1000px;
    height: 110px;
}

.foot .footT .footTR div:nth-child(1) ul {
    clear: both;
}

.foot .footT .footTR div ul li {
    list-style: none;
    float: left;
    padding: 0 13px;

    border-right: 1px solid #cbcbcc;
}

.foot .footT .footTR .footTRD1 ul li:last-child {
    border: none;
}

.foot .footT .footTR .footTRD1, .foot .footT .footTR .footTRD2 {

}

.foot .footT .footTR .footTRD2 .footTRD2T, .foot .footT .footTR .footTRD2 .footTRD2F {
    display: inline-block;
}

.foot .footT .footTR .footTRD2 .footTRD2T {
    width: 698px;
}

.foot .footT .footTR .footTRD2 .footTRD2F {
    width: 200px;
    text-align: right;
}

.foot div {
    font-size: 10px;
}

.foot .footT .footTR .footTRD2 .footTRD2T div {
    height: 30px;
    line-height: 30px;
}

.foot .footT .footTR .footTRD2 .footTRD2F .footTRD2Fu {
    width: 201px;;
}

.foot .footT .footTR .footTRD2 .footTRD2F .footTRD2Fu .footTRD2Fut, .foot .footT .footTR .footTRD2 .footTRD2F .footTRD2Fu .footTRD2Fuf {
    display: inline-block;
}

.foot .footT .footTR .footTRD2 .footTRD2F .footTRD2Fu .footTRD2Fut {
    position: relative;
    top: -14px;;
    width: 65px;;
}

.foot .footT .footTR .footTRD2 .footTRD2F .footTRD2Fu .footTRD2Fuf {
    width: 112px;;
}

.foot .footT .footTR .footTRD2 .footTRD2F .footTRD2F div {
    height: 40px;
}

.foot .footT .footTR .footTRD2 .footTRD2F .footTRD2F .footTRD2Fu div {
    height: 20px;

}

.foot .footT .footTR .footTRD2 .footTRD2F .footTRD2Fm {
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    font-weight: bold;

}

.foot .footT .footTR .footTRD2 .footTRD2F .footTRD2Fm a {
    color: #ffffff;
}

.foot .footT .footTR {
    width: 904px;;
}

.last {

    height: 480px;;
    background: url("../img/ease.png") no-repeat;
}

.last .lastT {
    position: relative;

    color: #ffffff;
    height: 100%;
    background: url("../img/easeto.png") no-repeat;
}

.last .lastT ul {
    position: absolute;
    width: 85px;
    height: 100px;
}

.last .lastT ul li {
    position: absolute;
    width: 158px;
    height: 180px;;
}

.last .lastT ul li:nth-child(1) {
    top: 93px;
    left: -27px;
}

.last .lastT ul li:nth-child(2) {
    top: 155px;
    left: 203px;
}

.last .lastT ul li:nth-child(3) {
    top: 15px;
    left: 404px;
}

.last .lastT ul li:nth-child(4) {
    top: 204px;
    left: 575px
}

.last .lastT ul li:nth-child(5) {
    top: 36px;
    left: 791px;
}

.last .lastT ul li:nth-child(1):hover {
    background: url("../img/red6-big.png") no-repeat;
}

.last .lastT ul li:nth-child(2):hover {
    background: url("../img/blue6-big.png") no-repeat;
}

.last .lastT ul li:nth-child(3):hover {
    background: url("../img/quen6-Big.png") no-repeat;
}

.last .lastT ul li:nth-child(4):hover {
    background: url("../img/pub6-big.png") no-repeat;
}

.last .lastT ul li:nth-child(5):hover {
    background: url("../img/orange6-5.png") no-repeat;
}

.last .lastT ul li:hover span {
    display: none;
}

.last .lastT ul li:hover p {
    display: block;
}

.last .lastT ul li:nth-child(5):hover p {
    top: 16px
}

.last .lastT ul li span {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 10;
}

.last .lastT ul li p {

    display: none;
    position: relative;

    top: 33px;
    line-height: 10px;
    margin: 16px;
    text-align: center
}

.center{
    background: #F9F9F9;
    padding-bottom: 60px;
}
.center .lcFD{
    background: white;
}.center .lc{
     margin-bottom: 40px
 }
.center .lc .lcT {
    height: 72px;
    line-height: 85px;
    font-size: 30px;
    color:#333333;
}

.center .lc .lcT span {
    font-size: 16px;
    color: #999999;
}

.center .lc .lcF {
    overflow: hidden;
}

.center .lc .lcF .lcFD {
    position: relative;
    margin-left: 20px;
    width: 260px;
    height: 385px;
    border-radius: 5px;
    float: left;
}
#marginNo{
    margin:0;
}
.center .lc .lcF .lcFD .lcFDT {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 15px;
    height: 55px;
    width: 100%;
    background: #6ed3d6;
}
.center .lc .lcF .lcFD .lcFDT p{
    text-align: center;
    color: #ffffff;
}
.center .lc .lcF .lcFD .lcFDT p:nth-child(1){
    font-size: 20px;
    line-height: 25px;
}
.center .lc .lcF .lcFD .lcFDT p:nth-child(2){
    line-height: 20px;
}
.center .lc .lcF .lcFDC {
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: 209px;
}

.center .lc .lcF .lcFDC .lcFDCO {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #cdf0f5;

}

.lc .lcF .lcFDC .lcFDCO .lcFDCI {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: #6ed3d6;
}

.lc .lcF .lcFDC .lcFDCO .lcFDOD {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden
}

.lc .lcF .lcFDC .lcFDCO .lcFDOD span {
    position: absolute;
    top: 0;
    left: 0;
    background: #cdf0f5;
    width: 100%;
    height: 100%;

}
.lc .lcF .lcFDC .lcFDCO .lcFDCI div{
    position: absolute;
    top: 64px;
    left: 5px;
    width: 100%;margin: 0 auto;height: 200px;
}
.lc .lcF .lcFDC .lcFDCO .lcFDCI div p{
    text-align: center;
    color: white
}
.lc .lcF .lcFDC .lcFDCO .lcFDCI div p:nth-child(1){
    font-size: 50px;
}
.center .lc .lcFD .lcFDF{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #f56478;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}
.center .lc .lcFD .lcFDF a{
    display: block;

    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.center .lc .lcF .lcFD .lcFDn{
    height: 40px;;
    overflow: hidden;
}

.center .lc .lcF .lcFD .lcFDn span{
    font-size: 29px;
}
.center .lc .lcF .lcFD .lcFDn span:nth-child(1){
    color: #f56478;
}
.center .lc .lcF .lcFD .lcFDn span:nth-child(2){
    color: #f5c25a;
}

.center .lc .lcF .lcFD .lcFDn span:nth-child(3){
    float: right;
    color: #6ed3d6;

}

.center .zr .lcT {
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    color:#333333;
}

.center .zr .lcT span {
    font-size: 16px;
    color: #999999;
}

.center .zr .lcF {
    overflow: hidden;
}

.center .zr .lcF .lcFD {
    position: relative;
    margin-left: 20px;
    width: 260px;
    height: 385px;
    border-radius: 5px;
    float: left;
}
.marginNo{
    margin-left:0 !important;
}
.center .zr .lcF .lcFD .lcFDT {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 15px;
    height: 55px;
    width: 100%;
    background: #6ed3d6;
}
.center .zr .lcF .lcFD .lcFDT p{
    text-align: center;
    color: #ffffff;
}
.center .zr .lcF .lcFD .lcFDT p:nth-child(1){
    font-size: 20px;
    line-height: 25px;
}
.center .zr .lcF .lcFD .lcFDT p:nth-child(2){
    line-height: 20px;
}
.center .zr .lcF .lcFDC {
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: 209px;
}

.center .zr .lcF .lcFDC .lcFDCO {
    position: relative;
    top: 15px;;
    margin: 0 auto;
    width: 225px;
    height: 62px;
    border: 1px solid #cdf0f5;
}

.zr .lcF .lcFDC .lcFDCO .lcFDCI {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 215px;
    height: 50px;
    background: #6ed3d6;
}

.zr.lcF .lcFDC .lcFDCO .lcFDOD {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden
}

.zr .lcF .lcFDC .lcFDCO .lcFDOD span {
    position: absolute;
    top: 0;
    left: 0;
    background: #cdf0f5;
    width: 100%;
    height: 100%;

}
.zr .lcF .lcFDC .lcFDCO .lcFDCI div{
    position: absolute;
    top: 0;
    left: 5px;
    width: 100%;margin: 0 auto;height: 200px;
}
.zr .lcF .lcFDC .lcFDCO .lcFDCI div p{
    text-align: center;
    color: white
}
.zr .lcF .lcFDC .lcFDCO .lcFDCI div p:nth-child(1){
    font-size: 19px;
    display: block;
    line-height: 50px;
}
.center .zr .lcFD .lcFDF{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #f56478;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}
.center .zr .lcFD .lcFDF a{
    display: block;

    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.center .zr .lcF .lcFD .lcFDn{
    height: 40px;;
    overflow: hidden;
}

.center  .zr .lcF .lcFD .lcFDn span{
    font-size: 29px;
}
.center  .zr .lcF .lcFD .lcFDn span:nth-child(1){
    color: #f56478;
}
.center  .zr .lcF .lcFD .lcFDn span:nth-child(2){
    color: #f5c25a;
}

.center .zr .lcF .lcFD .lcFDn span:nth-child(3){
    float: right;
    color: #6ed3d6;

}
/*登录界面*/
.sing {
    width: 100%;
    height: 546px;
    padding-top: 54px
}



.sing .singIn {
    margin:0 auto;
    position: relative;
    width: 1100px;
    height: 460px;

}

.sing .singIn .singInL {
    width: 100%;
    height: 100%;
}

.sing .singIn .singInR {
    position: absolute;
    left: 630px;
    top: 0;
    padding: 20px;
    width: 430px;
    height: 420px;
    background: #f9f9f9;;;
}

.sing .singIn .singInR div div {
    display: inline-block;
}

.sing .singIn .singInR div div span {
    color: #f7869c;
}

.sing .singIn .singInR div div input {
    margin-left: 20px;;
    height: 40px;
    border-radius: 5px;
}

.sing .singIn .singInR .singInR1 {
    /*margin-top: 20px;;*/
    line-height: 60px;
}

.sing .singIn .singInR .singInR1 .singInRL {
    width: 135px;
    text-align: right;
}

.sing .singIn .singInR .singInR1 .singInRR {
    height: 60px;
}

.sing .singIn .singInR .singInR1 .singInRR input {
    width: 260px;
}

.sing .singIn .singInR .singInR1 .singInRR #sing3 {
    width: 160px;
}

.sing .singIn .singInR .singInR1 .trueImg {
    position: relative;
    top: 15px;;
    clear: both;
    width: 90px;
    height: 40px;;;
}

.sing .singIn .singInR .singInR1 .trueImg div {
    float: left;
    width: 90px;
    height: 40px;
}

.sing .singIn .singInR .singInR1 .trueImg div:nth-child(2) {
    /*position: absolute;*/
    /*top: 16px;;*/
    /*left: 0;*/
    text-align: center;
    line-height: 40px;
    display: none;
    background: rgba(0, 0, 0, .3);
}

.sing .singIn .singInR .singInR1 .trueImg:hover div:nth-child(1) {
    display: none;
}

.sing .singIn .singInR .singInR1 .trueImg:hover div:nth-child(2) {
    display: block;
}

.sing .singIn .singInR   .singInLast {
    margin: 0 auto;
    width: 292px;
    height: 42px
}

.sing .singIn .singInR   .singInLas {
    margin: 0 auto;
    width: 299px;
    font-size: 14px;
    margin-top: 28px;
    margin-bottom: 20px;

}

.sing .singIn .singInR   .singInLast a {
    display: block;
    width: 290px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #f4b942;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 100;
}

#sing5 {
    margin-bottom: 20px
}

#sing5 a {
    color: #66ccff
}
/*背颜色*/

.bgNum {
    background: #f6ebed;
}

.bgGrey {
    background: #cccccc;
}

.bgOrange {
    background: #ff8542;
    color:white;
}

.bgPink {
    background: #f77f96;
}

.bgYellow {
    background: #f4b942;
}

.bgGreen {
    background: #6ed3d6;
}

.bglightGreen {
    background: #cdf0f5;
}
.bgccc{
    background: #CCCCCC;
}
.bgeee{
    background: #EEEEEE;
}
/*文字颜色*/
.redNum {
    color: #f56478;
}

.yellowNum {
    color: #f4b942;
}

.lightGreenNum {
    color: #6ed3d6;
}

.lightOrangeNum {
    color: #f5c25a;
}

.greenNum {
    color: #57d090;
}

.queNum {
    color: #7ddef7;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}

ul li {
    list-style: none;
}

.buy, .moneyT {
    width: 100%;
}

.money, .money .moneyT {
    width: 100%;;
}

.money {
    background: #f9f9f9;

}

.money .moneyT {
    background: #ffffff;
}

.money .moneyTop, .money .moneyT .moneyOuter, .money .moneyCenter {
    width: 1100px;
    margin: 0 auto;;
}

.money .moneyCenter {
    color: #ffffff;
}
.money .moneyTop{
    height: 100px;
    line-height: 100px;
    font-size: 20px;
overflow: hidden;
}
.money .moneyTop div {
   float: left;
    width: 32.3%;
}

.money .moneyTop div span {
    font-size: 33px;
    font-weight: bold;
}

.money .moneyTop div:nth-child(1) {
    text-align: left;
}

.money .moneyTop div:nth-child(2) {
    text-align: center;
}

.money .moneyTop div:nth-child(3) {
    text-align: right;
}

.money .moneyT {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}

.money .moneyT .moneyOuter div {
    font-size: 14px;
    height: 45px;

}

.money .moneyT .moneyOuter .border {
    border-top: 1px dashed #d5d5d5;
    border-bottom: 1px dashed #d5d5d5;
}

.money .moneyT .moneyOuter div span {
    /*line-height:75px*/
}

.money .moneyT .moneyOuter div span, .money .moneyT .moneyOuter div ul {
    display: inline-block;
}

.money .moneyT .moneyOuter div ul li {
    display: inline-block;
    padding: 1px 15px;
    margin: 15px 13px;
    border-radius: 5px
}
.money .moneyCenter{
    padding: 25px 0;}
.money .moneyCenter div ul {
    width: 100%;
    overflow: hidden;
    margin: 25px 0;
    background:white;
}

.money .moneyCenter div ul Li {
    padding: 15px 0;
    height: 50px;
    float: left;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}

.money .moneyCenter div ul .mCLi1 {
    width: 195px;
    padding-left: 30px;
    text-align: left;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.money .moneyCenter div ul .mCLi2 {
    width: 108px;
    line-height: 25px;
    font-size: 20px;
}

.money .moneyCenter div ul .mCLi3 {
    width: 180px;
    line-height: 80px;
    font-size: 30px;
}

.money .moneyCenter div ul .mCLi3 span:nth-child(1) {
    font-size: 45px;
}

.money .moneyCenter div ul .mCLi4 {
    width: 112px;
    font-size: 25px;;
}
.money .moneyCenter div ul .mCLi4 p span{
    font-size: 45px
}

.money .moneyCenter div ul .mCLi5 {
    width: 190px;
    line-height: 88px;
    /*font-size: 14px;;*/
}

.money .moneyCenter div ul .mCLi6 {
    position: relative;
    top: 10px;
    width: 65px;
    height: 65px;;
    padding:0;
    margin: 0 15px;
    border-radius: 50%;
    overflow: hidden;
}

.money .moneyCenter div ul .mCLi6 span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 65px;
    height: 65px;;
}

.money .moneyCenter div ul .mCLi6 span:nth-child(2) {
    height:50%;
}
.money .moneyCenter div ul .mCLi6 span:nth-child(3){
    font-size: 23px;
    line-height: 65px;

}
.money .moneyCenter div ul .mCLi7 {
    width: 170px;
    margin-left: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}

.money .moneyList{
    margin:0 auto;
    width: 1100px;
    height:30px;
    line-height: 30px;
    text-align: center;;
}
.money .moneyList .moneyPage{
    width: 510px;
    margin:0 auto;;
}
.money .moneyList .moneyPage div{
    display: inline-block;
    border-radius: 3px;
}

.money .moneyList .moneyPage .moneyPageL,.money .moneyList .moneyPage .moneyPageR{
    position: relative;
    top: -10px;;
    width: 75px;
}
.money .moneyList .moneyPage ul{

    display: inline-block;
    overflow: hidden;
    border:1px solid #d5d5d5;
    border-right: none;
    height: 30px;;
    background: white;
}

.money .moneyList .moneyPage ul li{
    float: left;
    width: 31px;
    border-right:1px solid #d5d5d5;;
}

.bgNum {
    background: #f6ebed;
}

.bgGrey {
    background: #cccccc;
}

.bgOrange {
    background: #ff8542;
    color:white;
}

.bgPink {
    background: #f77f96;
}

.bgYellow {
    background: #f4b942;
}

.bgGreen {
    background: #6ed3d6;
}

.bglightGreen {
    background: #cdf0f5;
}

/*文字颜色*/
.redNum {
    color: #f56478;
}

.yellowNum {
    color: #f4b942;
}

.lightGreenNum {
    color: #6ed3d6;
}

.lightOrangeNum {
    color: #f5c25a;
}

.greenNum {
    color: #57d090;
}

.queNum {
    color: #7ddef7;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}

ul li {
    list-style: none;
}

.moneyT {
    width: 100%;
}

.moneyT {
    width: 100%;;
}

.money {
    background: #f9f9f9;
}

.moneyT {
    background: #ffffff;
}

.moneyTop,  .moneyT .moneyOuter,  .moneyCenter,.sellMoney .sellTop {
    width: 1100px;
    margin: 0 auto;;
}

.moneyCenter {
    color: #ffffff;
}
.moneyTop,.sellMoney{
    height: 100px;
    line-height: 100px;
    font-size: 20px;;
}
.moneyTop div ,.sellMoney .sellTop div{
    display: inline-block;
    width: 32.3%;
}

.moneyTop div span ,.sellMoney .sellTop div span{
    font-size: 33px;
    font-weight: bold;
}

.moneyTop div:nth-child(1),.sellMoney .sellTop div:nth-child(1){
    text-align: left;
}

.moneyTop div:nth-child(2) ,.sellMoney .sellTop div:nth-child(2){
    text-align: center;
}

.moneyTop div:nth-child(3) ,.sellMoney .sellTop div:nth-child(3){
    text-align: right;
}

.moneyT {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}

.moneyT .moneyOuter div {
    font-size: 14px;
    height: 45px;

}

.moneyT .moneyOuter .border {
    border-top: 1px dashed #d5d5d5;
    border-bottom: 1px dashed #d5d5d5;
}

.money .moneyT .moneyOuter div span {
    /*line-height:75px*/
}

.moneyT .moneyOuter div span,  .moneyT .moneyOuter div ul {
    display: inline-block;
}

.moneyT .moneyOuter div ul li {
    display: inline-block;
    padding: 1px 15px;
    margin: 15px 13px;
    border-radius: 5px
}
.moneyCenter{
    padding: 25px 0;}
.moneyCenter div ul {
    width: 100%;
    overflow: hidden;
    margin: 25px 0;
    background:white;
}

.moneyCenter div ul Li {
    padding: 15px 0;
    height: 50px;
    float: left;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}

.moneyCenter div ul .mCLi1 {
    width: 195px;
    padding-left: 30px;
    text-align: left;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.moneyCenter div ul .mCLi2 {
    width: 108px;
    line-height: 25px;
    font-size: 20px;
}

.moneyCenter div ul .mCLi3 {
    width: 180px;
    line-height: 50px;
    font-size: 30px;
}

.moneyCenter div ul .mCLi3 span:nth-child(1) {
    font-size: 45px;
}

.moneyCenter div ul .mCLi4 {
    width: 112px;
    font-size: 25px;;
}
.moneyCenter div ul .mCLi4 p span{
    font-size: 45px
}

.moneyCenter div ul .mCLi5 {
    width: 190px;

}

.moneyCenter div ul .mCLi6 {
    position: relative;
    top: 10px;
    width: 65px;
    height: 65px;;
    padding:0;
    margin: 0 15px;
    border-radius: 50%;
    overflow: hidden;
}

.moneyCenter div ul .mCLi6 span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 65px;
    height: 65px;;
}

.moneyCenter div ul .mCLi6 span:nth-child(2) {
    height:50%;
}
.moneyCenter div ul .mCLi6 span:nth-child(3){
    font-size: 31px;
    line-height: 65px;

}
.moneyCenter div ul .mCLi7 {
    width: 170px;
    margin-left: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}

.moneyList{
    margin:0 auto;
    width: 1100px;
    height:30px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 64px;;
}
.moneyList .moneyPage{
    width: 510px;
    margin:0 auto;;
}
.moneyList .moneyPage div{
    display: inline-block;
    border-radius: 3px;
}

.moneyList .moneyPage .moneyPageL,.moneyList .moneyPage .moneyPageR{
    position: relative;
    top: -10px;;
    width: 75px;
}
.moneyList .moneyPage ul{

    display: inline-block;
    overflow: hidden;
    border:1px solid #d5d5d5;
    border-right: none;
    height: 30px;;
    background: white;
}

.moneyList .moneyPage ul li{
    float: left;
    width: 31px;
    border-right:1px solid #d5d5d5;;
}
.mCLi3{
    padding: 0 !important;
    height: 82px;
}
.mCLi3 div:nth-child(2){
    position: relative;
    top: -20px;
    color:#999999;
    font-size: 14px;
}
.mCLi3 div:nth-child(2){

}
.mCLi5{
    padding:0 !important;
}
.mCLi5 div:nth-child(1){
    font-size: 45px;
}
.mCLi5 div:nth-child(2){
    position: relative;
    top: -15px;
    font-size: 14px;
}
#sell .sellCenter   .mCLi6 .lcFDCO {
    position: relative;
    width: 210px;
    height: 35px;
    padding: 5px;
    border: 2px solid #CDF0F5;}
#sell  .sellCenter  .mCLi6 .lcFDCO div{
    width: 210px;
    position: absolute;
}
#sell  .sellCenter .mCLi6{
    position: relative;
    top: 10px;
    width: 234px;
    height: 65px;
    padding: 0;
    margin: 0 15px 0 0;
    overflow: hidden;
    border-radius: 0;
}
#sell  .sellCenter .mCLi6 .lcFDCI{
    height: 35px;
    background: #CDF0F5;
}
#sell .sellCenter .mCLi6 .lcFDCO div {
    width: 210px;
    position: absolute;}
#sell .sellCenter .mCLi6 .lcFDCO .lcFDCI{
    width: 210px;
    position: absolute;
}
#sell .sellCenter  .mCLi6 .lcFDCO .lcFDCI div div {
    width: 57%;
    height: 35px;
    background: #6ED3D6;
}
#sell .sellCenter  .mCLi6 .lcFDCO .lcFDCI div p{
    position: absolute;
    width: 210px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
}
#sell .sellCenter  .mCLi2{
    width: 108px;
}
#sell .sellCenter  .mCLi3{
    width: 165px;
}
#sell .sellCenter .mCLi5{
    width: 157px;
}
#sell{
    background: #F9F9F9;
}

